*{
    box-sizing:border-box;
}


body{
    margin:0;
    font-family:sans-serif;
    background:#fff8d6;
    color:#333;
    overflow-x:hidden;
}


/* =========================
   🍌 背景
   ========================= */

.banana-bg{
    position:fixed;
    inset:0;

    z-index:-1;

    font-size:38px;
    line-height:150px;

    opacity:0.12;

    white-space:pre;

    pointer-events:none;

    user-select:none;
}


/* =========================
   全体
   ========================= */

.container{
    width:100%;
    max-width:430px;

    margin:0 auto;

    padding:20px;
}


/* =========================
   タイトル
   ========================= */

h1{
    text-align:center;

    color:#5b3a00;

    font-size:32px;

    margin:10px 0 5px;
}


.subtitle{
    text-align:center;

    color:#806c35;

    margin-bottom:20px;
}


/* =========================
   入力カード
   ========================= */

.card{
    background:white;

    padding:20px;

    border-radius:20px;

    box-shadow:
        0 5px 15px rgba(0,0,0,0.12);
}


/* =========================
   ラベル
   ========================= */

label{
    display:block;

    margin-top:12px;

    font-weight:bold;

    color:#5b3a00;
}
